[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dollynsun
[access "refs/for/refs/*"]
	read = group user/dollynsun
	push = group user/dollynsun
	label-Code-Review = -2..+2 group user/dollynsun
	label-Verified = -1..+1 group user/dollynsun
	rebase = group user/dollynsun
	removeReviewer = group user/dollynsun
	submit = group user/dollynsun
[access "refs/heads/*"]
	read = group user/dollynsun
	create = group user/dollynsun
	push = +force group user/dollynsun
	pushMerge = group user/dollynsun
[access "refs/tags/*"]
	push = +force group user/dollynsun
	pushTag = group user/dollynsun
	pushSignedTag = group user/dollynsun
